/* fonts */
/*
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

body {
  font-family: 'PT Serif', serif;
  color: #414141;
  font-size: 1.125rem;
}

header {
  text-align: center;
  background: yellow;
}

header h1 {
  font-family: 'Cinzel', serif;
  font-size: 6rem;
  line-height: 0.9;
}

a {
  color: #ca5e10;
}

.subtitle {
  color: #7d7d7d;
  font-size: 2.25rem;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}

.lead {
  font-size: 1.3125rem;
}
